<header>
  <div class="logo-container">
    <a routerLink="/" class="logo-link">
      <img src="/assets/img/logo.jpg" alt="Logo EcoDrop" class="logo-img">
      <h2>EcoDrop</h2>
    </a>
  </div>
  <nav>
    <ul>
      <ng-container *ngIf="!authService.isLoggedIn()">
        <li><a routerLink="/">Inicio</a></li>
        <li><a routerLink="/" fragment="about">Nosotros</a></li>
        <li><a routerLink="/" fragment="services">Servicios</a></li>
        <li><a routerLink="/" fragment="map">Ubicación</a></li>
        <li><a routerLink="/login" class="btn">Acceder</a></li>
      </ng-container>

      <ng-container *ngIf="authService.isLoggedIn() && rol === 'COMERCIO'">
        <li><a routerLink="/">Inicio</a></li>
        <li><a routerLink="/comercio/dashboard">Mis Pedidos</a></li>
        <li><a (click)="logout()" class="btn logout-btn" style="cursor: pointer;">Cerrar Sesión</a></li>
      </ng-container>

      <ng-container *ngIf="authService.isLoggedIn() && rol === 'REPARTIDOR'">
        <li><a routerLink="/">Inicio</a></li>
        <li><a routerLink="/repartidor/dashboard">Mis Repartos</a></li>
        <li><a (click)="logout()" class="btn logout-btn" style="cursor: pointer;">Cerrar Sesión</a></li>
      </ng-container>
    </ul>
  </nav>
</header>
