<header>
    <div class="logo-container">
        <img src="../../../../assets/img/logo.jpg" alt="Logo EcoDrop" class="logo-img">
        <h2>EcoDrop</h2>
    </div>
    <nav>
        <ul>
            <li><a routerLink="/login">Inicio</a></li>
            <li><a href="#about">Nosotros</a></li>
            
            <li *ngIf="!authService.isLoggedIn()">
                <a routerLink="/login" class="btn">Área Cliente</a>
            </li>

            <li *ngIf="authService.isLoggedIn()">
                <a (click)="logout()" class="btn logout-btn" style="cursor: pointer;">Cerrar Sesión</a>
            </li>
        </ul>
    </nav>
</header>